@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  color: #fff;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
}

li {
  list-style: none;
}

/* Utility */

.l-heading {
  color: #fff;
  font-size: 5rem;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
}

.m-heading {
  color: #fff;
  font-size: 3rem;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 600;
}

p {
  color: white;
}

.showcase-h1_heading {
  color: #fff;
  font-size: 5rem;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.showcase-h3_heading {
  padding-bottom: 0.5rem;
  letter-spacing: 10px;
  color: #fff;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
}

.modal-heading {
  font-size: 2rem;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  color: #fff;
  padding-bottom: 0.5rem;
}

.sections {
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: auto;
  padding-top: 8rem;
}

.sections ul li {
  padding-bottom: 1rem;
}

.sections ul li a:hover {
  text-decoration: underline;
}

.showcase-p {
  font-size: 1.15rem;
  margin: 0rem 2rem;
}

.wrap .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
}

#contents {
  width: 100%;
  height: auto;
  padding: 4rem 3rem 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

#footer {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 3rem 1rem 3rem;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .footer-text {
  text-align: left;
  color: white;
}

#footer .social-links i {
  font-size: 2rem;
  padding: 1rem;
}

.quick-facts {
  color: #fff;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: auto;
  padding-top: 8rem;
}

.quick-facts li:nth-child(even) {
  padding-bottom: 1rem;
}

.table_wrapper {
  padding: 0rem 2rem;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th {
  padding: 0.8rem;
}

td {
  border: 1px solid #d2d2d2;
  padding: 0.8rem;
}

/* Navbar */

#navbar {
  background: #000000;
  position: sticky;
  top: 0;
  z-index: 5;
}

#navbar ul {
  display: flex;
  justify-content: center;
}

#navbar ul li {
  list-style: none;
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  font-family: "Arvo", serif;
}

#navbar ul li a {
  padding: 0.95rem;
  text-decoration: none;
  color: white;
}

#navbar ul li a:hover {
  border-bottom: 2px solid #fff;
}

.container {
  position: relative;
  height: 850px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url("../Resources/Solar_system.jpg") no-repeat center center/cover;
  overflow: hidden;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0) 100%);
  z-index: 0;
}

/* Primary Section */

.showcase-wrap {
  position: absolute;
  height: 70%;
  margin: 0rem 2rem;
  z-index: 4;
}

.primary {
  text-align: center;
  display: block;
  max-width: 1100px;
  padding: 4.5rem 0rem;
  height: auto;
  color: white;
  margin: auto;
}

.primary p {
  font-size: 1.15rem;
}

.scroll-wrap {
  height: 3rem;
  width: 1.5rem;
  margin: 5rem auto 0rem auto;
}

.scroll-icon {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  border: 0.25rem solid white;
  border-radius: 1rem;
}

.scroll-icon_dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #fff;
  height: 0.5rem;
  width: 0.5rem;
  top: 0.6rem;
  margin-left: -0.25rem;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll 2s ease-out infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.75em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

#home-contents {
  padding: 2rem 0rem 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

.paragraphs {
  padding: 2rem 0rem 2rem 5rem;
  color: white;
  flex: 8;
}

.flex-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.intro-size {
  display: block;
  margin: auto;
  flex: 2;
}

.orbits {
  background: url(../Resources/Solar_System.png) no-repeat center center/contain;
  width: auto;
  height: 900px;
  flex: 1;
  align-self: flex-end;
}

.form-moons {
  width: 90%;
  height: auto;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-around;
  padding: 3rem 2rem;
}

.btn {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.1);
}

.btn a {
  padding: 0.75rem 1rem;
  color: white;
}

/* Explore Page */

.sun-wrap {
  padding: 0rem 3rem 0rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 555px;
  overflow: hidden;
}

.sun-wrap .sun-img {
  position: relative;
  background: url("../Resources/Sun.jpg") no-repeat center center;
  background-size: 115%;
  transition: 0.5s ease-out;
  width: 550px;
  min-width: 550px;
  height: 350px;
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 80px 10px rgba(255, 51, 0, 0.6);
}

.sun-wrap .sun-img:hover {
  background-size: 150%;
}

.sun-wrap .sun-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(255, 51, 0, 0.6)
  );
}

.sun-wrap .sun-info {
  display: block;
  margin: auto;
  padding: 0rem 0rem 3rem 5rem;
  overflow: hidden;
}

.sun-wrap .sun-info .sun-facts {
  color: #fff;
  line-height: 2;
  top: 0;
}

.sun-wrap .sun-info .sun-facts li {
  list-style: disc;
  padding-left: 12px;
}

.sun-wrap .sun-info .sun-facts h3 {
  font-size: 2.5rem;
  padding-left: 12px;
}

.sun-wrap .sun-info .explore-sun {
  padding: 2rem 0rem 0rem 0.75rem;
}

.sun-wrap .sun-info .explore-sun a:hover {
  color: rgb(255, 51, 0);
}

/*  Planets */

.explore-planets {
  display: block;
  margin: auto;
}

.explore-planets .title {
  text-align: center;
  padding-bottom: 1rem;
}

.wrap {
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}

.wrap .mercury .mercury-img {
  position: relative;
  background: url("../Resources/Mercury.jpg") no-repeat center center;
  background-size: 100%;
  transition: 0.5s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(197, 192, 190, 0.5);
}

.wrap .mercury .overlay::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(197, 192, 190, 0.5)
  );
}

.wrap .mercury .explore-mercury {
  padding: 2rem 0rem;
}

.wrap .mercury .explore-mercury a:hover {
  color: rgba(197, 192, 190, 0.5);
}

.wrap .venus .venus-img {
  position: relative;
  background: url("../Resources/venus.jpg") no-repeat center center;
  background-size: 100%;
  transition: 0.5s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(227, 185, 144, 0.5);
}

.wrap .venus .venus-img::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(227, 185, 144, 0.5)
  );
}

.wrap .venus .explore-venus {
  padding: 2rem 0rem;
}

.wrap .venus .explore-venus a:hover {
  color: rgba(227, 185, 144, 0.5);
}

.wrap .earth .earth-img {
  position: relative;
  background: url("../Resources/Earth.jpg") no-repeat center center;
  background-size: 100%;
  transition: 0.5s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(93, 147, 188, 0.5);
}

.wrap .earth .earth-img::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(93, 147, 188, 0.5)
  );
}

.wrap .earth .explore-earth {
  padding: 2rem 0rem;
}

.wrap .earth .explore-earth a:hover {
  color: rgba(93, 147, 188, 0.5);
}

.wrap .mars .mars-img {
  position: relative;
  background: url("../Resources/Mars.jpg") no-repeat center center;
  background-size: 100%;
  transition: 0.5s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(186, 112, 89, 0.5);
}

.wrap .mars .mars-img::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(186, 112, 89, 0.5)
  );
}

.wrap .mars .explore-mars {
  padding: 2rem 0rem;
}

.wrap .mars .explore-mars a:hover {
  color: rgba(186, 112, 89, 0.5);
}

.wrap .jupiter .jupiter-img {
  position: relative;
  background: url("../Resources/Jupiter.jpg") no-repeat center center;
  background-size: 100%;
  transition: 0.5s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(181, 148, 107, 0.5);
}

.wrap .jupiter .jupiter-img::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(181, 148, 107, 0.5)
  );
}

.wrap .jupiter .explore-jupiter {
  padding: 2rem 0rem;
}

.wrap .jupiter .explore-jupiter a:hover {
  color: rgba(181, 148, 107, 0.5);
}

.wrap .saturn .saturn-img {
  position: relative;
  background: url("../Resources/Saturn.jpg") no-repeat center center;
  background-size: 100%;
  transition: 0.5s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(201, 163, 114, 0.5);
}

.wrap .saturn .saturn-img::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(201, 163, 114, 0.5)
  );
}

.wrap .saturn .explore-saturn {
  padding: 2rem 0rem;
}

.wrap .saturn .explore-saturn a:hover {
  color: rgba(201, 163, 114, 0.5);
}

.wrap .uranus .uranus-img {
  position: relative;
  background: url("../Resources/Uranus.jpg") no-repeat center center;
  background-size: 100%;
  transition: 0.5s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(158, 228, 230, 0.5);
}

.wrap .uranus .uranus-img::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(158, 228, 230, 0.5)
  );
}

.wrap .uranus .explore-uranus {
  padding: 2rem 0rem;
}

.wrap .uranus .explore-uranus a:hover {
  color: rgba(158, 228, 230, 0.5);
}

.wrap .neptune .neptune-img {
  position: relative;
  background: url("../Resources/Neptune.jpg") no-repeat center center;
  background-size: 100%;
  transition: 0.5s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(72, 119, 253, 0.5);
}

.wrap .neptune .neptune-img::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(72, 119, 253, 0.5)
  );
}

.wrap .neptune .explore-neptune {
  padding: 2rem 0rem;
}

.wrap .neptune .explore-neptune a:hover {
  color: rgba(72, 119, 253, 0.5);
}

.wrap .pluto .pluto-img {
  position: relative;
  background: url("../Resources/Pluto.jpg") no-repeat center center;
  background-size: 100%;
  transition: 0.5s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(121, 48, 40, 0.5);
}

.wrap .pluto .pluto-img::after {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(121, 48, 40, 0.5)
  );
}

.wrap .pluto .explore-pluto {
  padding: 2rem 0rem;
}

.wrap .pluto .explore-pluto a:hover {
  color: rgba(121, 48, 40, 0.5);
}

/* Zoom */
.wrap .zoom:hover {
  background-size: 150%;
}

/*  Explore SUN */

.sun-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  background: url(../Resources/Sun_showcase.jpg) no-repeat center center/cover;
  overflow: hidden;
}

.sun-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(162, 23, 8, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.sun-showcase .sun-showcase_wrap {
  position: absolute;
  height: 420px;
  display: block;
  margin: auto;
  z-index: 4;
}

.sun-showcase .sun-showcase_info {
  text-align: center;
  max-width: 1100px;
  height: auto;
}

.info_wrap {
  padding: 2rem 5rem;
  overflow: hidden;
  flex: 8;
}

.earth-sun_scale {
  background: url("../Resources/Earth-sun_scale.jpeg") no-repeat center
    center/cover;
  max-width: 450px;
  height: 282px;
}

.planets-sun_scale {
  background: url("../Resources/Planets-sun_scale.jpg") no-repeat center
    center/cover;
  max-width: 450px;
  height: 282px;
}

.sun-regions {
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Gilroy-Medium", sans-serif;
  border: 2px dotted white;
}

.sun-structure {
  background: url("../Resources/Sun-structure.jpg") no-repeat center
    center/cover;
  max-width: 520px;
  height: 350px;
}

/* Explore Mercury */

.mercury-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Mercury_showcase.jpg") no-repeat center
    center/cover;
}

.mercury-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(110, 110, 110, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.mercury-showcase .mercury-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.mercury-showcase .mercury-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}

fieldset.mercury-temperature {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.mercury-temperature .hot_or_cold {
  padding: 0rem 0.5rem;
  font-size: 1.15rem;
  font-family: "Gilroy-Medium", sans-serif;
  color: #fff;
}

/* Explore Venus  */

.venus-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Venus_showcase.jpg") no-repeat center
    center/cover;
}

.venus-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0),
    rgba(160, 134, 98, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.venus-showcase .venus-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.venus-showcase .venus-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}

/* Explore Earth */

.earth-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Earth_showcase.jpg") no-repeat center
    center/cover;
}

.earth-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(1, 51, 87, 0.5),
    rgb(0, 0, 0)
  );
  z-index: 0;
}

.earth-showcase .earth-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.earth-showcase .earth-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}

.moon-wrap {
  padding: 4rem 2rem;
}

.moon {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moon-img {
  background: url("../Resources/Moon.jpg") no-repeat center center/cover;
  width: 410px;
  height: 308px;
  flex: 45%;
}

.moon-info {
  padding: 1rem 2rem;
  width: 100%;
  height: auto;
  flex: 55%;
}

.moon-info h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.moon-info a {
  display: block;
  margin-top: 2rem;
  padding: 0.75rem 1.25rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
}

.moon-info a:hover {
  background: rgba(255, 255, 255, 0.05);
}

/* Explore Moon */

.moon-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Moon_showcase.jpg") no-repeat center
    center/cover;
}

.moon-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(61, 59, 60, 0.5),
    rgb(0, 0, 0)
  );
  z-index: 0;
}

.moon-showcase .moon-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.moon-showcase .moon-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}

/* Explore Mars */

.mars-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Mars_showcase.jpg") no-repeat center
    center/cover;
}

.mars-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0),
    rgba(210, 136, 99, 0.502),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.mars-showcase .mars-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.mars-showcase .mars-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}

.mars-exploration {
  color: #fff;
}

.mars-exploration a {
  color: #43aaed;
}

/* Phobos */

.modalbtnPhobos {
  border: none;
  background-color: #43aaed;
  box-shadow: 2px 2px 0px 0px rgb(61, 61, 61);
  color: black;
  cursor: pointer;
  font-size: 1rem;
  padding: 0rem 0.25rem;
  margin: 0rem 0.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#phobos_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95);
  display: none;
  animation: popup 0.5s ease-in-out;
  z-index: 8;
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#phobos_wrap {
  width: 800px;
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 17px 17px 100px 60px rgba(36, 36, 36, 0.5);
  -moz-box-shadow: 17px 17px 100px 60px rgba(36, 36, 36, 0.5);
  box-shadow: 17px 17px 100px 60px rgba(36, 36, 36, 0.5);
  margin: 5% auto 4rem auto;
}

.phobos-img {
  position: relative;
  background: url("../Resources/Phobos.jpg") no-repeat center center/cover;
  width: 800px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phobos-img::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(204, 144, 111, 0.5)
  );
  width: 100%;
  height: 100%;
  z-index: 1;
}

.close_btn_wrap {
  margin-top: 4rem;
  text-align: center;
}

.closebtnPhobos {
  transition: 0.25s ease-in-out;
  vertical-align: middle;
  opacity: 0.8;
}

.closebtnPhobos:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.phobos-img h1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  z-index: 2;
}

.phobos_info_wrap {
  padding: 3rem;
}

/* Deimos */

.modalbtnDeimos {
  border: none;
  background-color: #43aaed;
  box-shadow: 2px 2px 0px 0px rgb(61, 61, 61);
  color: black;
  cursor: pointer;
  font-size: 1rem;
  padding: 0rem 0.25rem;
  margin: 0rem 0.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#deimos_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95);
  display: none;
  animation: popup 0.5s ease-in-out;
  z-index: 8;
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#deimos_wrap {
  width: 800px;
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 17px 17px 100px 60px rgba(36, 36, 36, 0.5);
  -moz-box-shadow: 17px 17px 100px 60px rgba(36, 36, 36, 0.5);
  box-shadow: 17px 17px 100px 60px rgba(36, 36, 36, 0.5);
  margin: 5% auto 4rem auto;
}

.deimos-img {
  position: relative;
  background: url("../Resources/Deimos.jpg") no-repeat center center/cover;
  width: 800px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deimos-img::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(167, 118, 91, 0.5)
  );
  width: 100%;
  height: 100%;
  z-index: 1;
}

.close_btn_wrap {
  margin-top: 4rem;
  text-align: center;
}

.closebtnDeimos {
  transition: 0.25s ease-in-out;
  vertical-align: middle;
  opacity: 0.8;
}

.closebtnDeimos:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.deimos-img h1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  z-index: 2;
}

.deimos_info_wrap {
  padding: 3rem;
}

/* Exploren Jupiter */

.jupiter-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Jupiter_showcase.jpg") no-repeat center
    center/cover;
}

.jupiter-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0),
    rgba(210, 136, 99, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.jupiter-showcase .jupiter-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.jupiter-showcase .jupiter-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}

fieldset.jupiter-facts {
  padding: 1rem 3rem;
  color: #fff;
}

fieldset.jupiter-facts ul li {
  list-style: disc;
  list-style-position: outside;
}

fieldset .jupiter-features {
  padding: 0rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Gilroy-Medium", sans-serif;
}

.jupiter-exploration a {
  color: #43aaed;
}

.o-img {
  background: url("../Resources/jupiter-orbit.jpg") no-repeat center
    center/cover;
  max-width: 500px;
  height: 375px;
}

.s-img {
  background: url("../Resources/Jupiter_structure.png") no-repeat center
    center/cover;
  max-width: 720px;
  height: 360px;
}
/* Explore Saturn */

.saturn-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Saturn_showcase.jpg") no-repeat center
    center/cover;
}

.saturn-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0),
    rgba(201, 163, 114, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.saturn-showcase .saturn-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.saturn-showcase .saturn-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}

.titan {
  background: url("../Resources/Titan.jpg") no-repeat center center/cover;
  max-width: 700px;
  height: 394px;
}
/* Explore Uranus */

.uranus-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Uranus_showcase.jpg") no-repeat center
    center/cover;
}

.uranus-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0),
    rgba(122, 175, 177, 0.42),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.uranus-showcase .uranus-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.uranus-showcase .uranus-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}

/* Explore Neptune */

.neptune-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Neptune_showcase.jpg") no-repeat center
    center/cover;
}

.neptune-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0),
    rgba(59, 82, 145, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.neptune-showcase .neptune-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.neptune-showcase .neptune-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}

.why_so_blue {
  color: #fff;
  padding: 0.5rem 1.4rem 1.25rem 1.4rem;
}

/* Explore Pluto */

.pluto-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url("../Resources/Pluto_showcase.jpg") no-repeat center
    center/cover;
}

.pluto-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(121, 48, 40, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.pluto-showcase .pluto-showcase_wrap {
  position: absolute;
  height: 420px;
  z-index: 4;
}

.pluto-showcase .pluto-showcase_info {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 1100px;
  height: auto;
}
