* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Utility */

.l-heading {
  margin-bottom: 0.75rem;
  color: #fff;
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
}

.m-heading {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* Navbar */

#navbar {
  background: #000000;
  box-shadow: 0px 2px 10px rgba(31, 31, 31, 0.3);
  position: sticky;
  top: 0;
  z-index: 5;
}

#navbar ul {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

#navbar ul li {
  list-style: none;
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}

#navbar ul li a {
  padding: 0.95rem;
  text-decoration: none;
  color: white;
}

#navbar ul li a:hover {
  border-bottom: 2px solid #fff;
}

.container {
  position: relative;
  height: 100vh;
  background: url("../Resources/Solar.png") no-repeat center center/cover;
  overflow: hidden;
}

.container > * {
  position: relative;
  z-index: 4;
}

.container::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0) 775px);
  z-index: 0;
}

/* Primary Section */

.primary {
  text-align: center;
  display: block;
  max-width: 1100px;
  height: auto;
  top: 15rem;
  color: white;
  margin: auto;
  z-index: 1;
}

.primary p {
  font-size: 1.15rem;
}

.scroll-wrap {
  height: 3rem;
  width: 1.5rem;
  margin: auto;
  top: 18rem;
}

.scroll-icon {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  border: 0.25rem solid white;
  border-radius: 1rem;
}

.scroll-icon_dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #fff;
  height: 0.5rem;
  width: 0.5rem;
  top: 0.6rem;
  margin-left: -0.25rem;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll 2s ease-out infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.75em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

#contents {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.paragraphs {
  padding: 2rem 3.5rem;
  color: white;
  flex: 2;
}

.orbits {
  height: 1100px;
  background: url(../Resources/Solar_System.png) no-repeat center center/contain;
  flex: 1;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.btn {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.1);
}

.btn a {
  padding: 0.75rem 1rem;
  color: white;
}

#footer {
  padding: 2.5rem;
}

#footer .footer-text {
  text-align: center;
  color: white;
}

/* Explore Page */

.sun-wrap {
  padding: 0rem 3rem 0rem 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 555px;
  overflow: hidden;
}

.sun-wrap .sun-img {
  display: block;
  margin: auto;
}

.sun-wrap .sun {
  position: relative;
  background: url("../Resources/Sun.jpg") no-repeat center center;
  background-size: 115%;
  width: 550px;
  height: 350px;
  border-radius: 10px;
  transition: 1s ease-out;
  box-shadow: 0px 0px 80px 10px rgba(255, 51, 0, 0.6);
}

.sun-wrap .sun:hover {
  background-size: 150%;
}

.sun-wrap .sun::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(255, 51, 0, 0.6)
  );
}

.sun-wrap .sun-info {
  display: block;
  margin: auto;
  padding: 0rem 0rem 3rem 5rem;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.sun-wrap .sun-info .sun-facts {
  display: block;
  margin: auto;
  color: #fff;
  line-height: 2;
  top: 0;
}

.sun-wrap .sun-info .sun-facts h3 {
  font-size: 2.5rem;
}

.sun-wrap .sun-info .explore-sun {
  padding-top: 2rem;
}

.sun-wrap .sun-info .explore-sun a:hover {
  color: rgb(255, 51, 0);
}

/*  Planets */

.explore-planets {
  display: block;
  margin: auto;
}

.explore-planets .title {
  text-align: center;
}

.wrap {
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  font-family: "Montserrat", sans-serif;
}

.wrap .mercury .mercury-img {
  position: relative;
  background: url("../Resources/Mercury.jpg") no-repeat center center;
  background-size: 100%;
  transition: 1s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(197, 192, 190, 0.5);
}

.wrap .mercury-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(197, 192, 190, 0.5)
  );
}

.wrap .mercury .explore-mercury {
  padding: 2rem 0rem;
}

.wrap .mercury .explore-mercury a:hover {
  color: rgba(197, 192, 190, 0.5);
}

.wrap .venus .venus-img {
  position: relative;
  background: url("../Resources/venus.jpg") no-repeat center center;
  background-size: 100%;
  transition: 1s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(227, 185, 144, 0.5);
}

.wrap .venus-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(227, 185, 144, 0.5)
  );
}

.wrap .venus .explore-venus {
  padding: 2rem 0rem;
}

.wrap .venus .explore-venus a:hover {
  color: rgba(227, 185, 144, 0.5);
}

.wrap .earth .earth-img {
  position: relative;
  background: url("../Resources/Earth.jpg") no-repeat center center;
  background-size: 100%;
  transition: 1s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(93, 147, 188, 0.5);
}

.wrap .earth-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(93, 147, 188, 0.5)
  );
}

.wrap .earth .explore-earth {
  padding: 2rem 0rem;
}

.wrap .earth .explore-earth a:hover {
  color: rgba(93, 147, 188, 0.5);
}

.wrap .mars .mars-img {
  position: relative;
  background: url("../Resources/Mars.jpg") no-repeat center center;
  background-size: 100%;
  transition: 1s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(232, 168, 81, 0.5);
}

.wrap .mars-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(232, 168, 81, 0.5)
  );
}

.wrap .mars .explore-mars {
  padding: 2rem 0rem;
}

.wrap .mars .explore-mars a:hover {
  color: rgba(232, 168, 81, 0.5);
}

.wrap .jupiter .jupiter-img {
  position: relative;
  background: url("../Resources/Jupiter.jpg") no-repeat center center;
  background-size: 100%;
  transition: 1s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(181, 148, 107, 0.5);
}

.wrap .jupiter-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(181, 148, 107, 0.5)
  );
}

.wrap .jupiter .explore-jupiter {
  padding: 2rem 0rem;
}

.wrap .jupiter .explore-jupiter a:hover {
  color: rgba(181, 148, 107, 0.5);
}

.wrap .saturn .saturn-img {
  position: relative;
  background: url("../Resources/Saturn.jpg") no-repeat center center;
  background-size: 100%;
  transition: 1s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(201, 163, 114, 0.5);
}

.wrap .saturn-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(201, 163, 114, 0.5)
  );
}

.wrap .saturn .explore-saturn {
  padding: 2rem 0rem;
}

.wrap .saturn .explore-saturn a:hover {
  color: rgba(201, 163, 114, 0.5);
}

.wrap .uranus .uranus-img {
  position: relative;
  background: url("../Resources/Uranus.jpg") no-repeat center center;
  background-size: 100%;
  transition: 1s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(158, 228, 230, 0.5);
}

.wrap .uranus-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(158, 228, 230, 0.5)
  );
}

.wrap .uranus .explore-uranus {
  padding: 2rem 0rem;
}

.wrap .uranus .explore-uranus a:hover {
  color: rgba(158, 228, 230, 0.5);
}

.wrap .neptune .neptune-img {
  position: relative;
  background: url("../Resources/Neptune.jpg") no-repeat center center;
  background-size: 100%;
  transition: 1s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(72, 119, 253, 0.5);
}

.wrap .neptune-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(72, 119, 253, 0.5)
  );
}

.wrap .neptune .explore-neptune {
  padding: 2rem 0rem;
}

.wrap .neptune .explore-neptune a:hover {
  color: rgba(72, 119, 253, 0.5);
}

.wrap .pluto .pluto-img {
  position: relative;
  background: url("../Resources/Pluto.jpg") no-repeat center center;
  background-size: 100%;
  transition: 1s ease-out;
  width: 400px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 15px rgba(121, 48, 40, 0.5);
}

.wrap .pluto-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(121, 48, 40, 0.5)
  );
}

.wrap .pluto .explore-pluto {
  padding: 2rem 0rem;
}

.wrap .pluto .explore-pluto a:hover {
  color: rgba(121, 48, 40, 0.5);
}
/* Zoom */
.wrap .zoom:hover {
  background-size: 150%;
}
